PORT=8000

AUTH_SERVICE_URL=http://auth-service:5000
QUIZ_SERVICE_URL=http://quiz-service:5001
RESULT_SERVICE_URL=http://result-service:5002

# Must match JWT_ACCESS_SECRET from the auth-service
JWT_ACCESS_SECRET=super_access_secret_key_2024_change_in_production

REDIS_HOST=redis
REDIS_PORT=6379
